{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
  <form method="POST"
    <div class="w-full max-w-3xl mx-auto px-4">
  
    <h1 class="text-3xl text-center pt-10">Add a comment</h1>

    
    {% csrf_token %}
    
     {{ form|crispy }}
     <input type="submit"
     class="px-5 py-2 text-sm font-medium tracking-wider text-center text-white transition-colors duration-300 transform bg-gray-900 rounded-md hover:bg-gray-700" value="Comment">
     

      </div>
  </form>

{% endblock %} 