{% extends 'base.html' %}
{% load tailwind_filters %}

{% partialdef alert %}

{% include 'components/alert.html'%}


{% endpartialdef %}

<div id="#alert">
  
</div>


{% block content %}
  <form hx-post="{% url 'create_post' %}" hx-swap="beforebegin" hx-swap-oob="true" hx-on::after-request="if(event.detail.successful) this.reset()">
    <div class="w-full max-w-3xl mx-auto px-4">
  
    <h1 class="text-3xl text-center pt-10">Create a post</h1>

    
    {% csrf_token %}
    
     {{ form|crispy }}
     <input type="submit"
     class="w-full px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50" value="Post" />
     

      </div>
  </form>




{% endblock %}