<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Jacobsite</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a>Home</a></li>
      <li><a>About</a></li>
      <li>
        <details>
          <summary>Account</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>Profile</a></li>
            <li><a>Sign Out</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>