<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <p class="text-xl">Jacobsite</p>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="{% url 'index' %}" >Home</a></li>
      <li><a>About</a></li>
      <li>
        {% if user.is_authenticated %}

        <details>
            <summary>Account</summary>
            <ul class="bg-base-100 rounded-t-none p-2">
              <li><a href="{% url 'account_email' %}">Profile</a></li>
              <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
            <li><a href="{% url 'account_login' %}">Sign up</a></li>
        {% endif %}


          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>